@model Todo

<body>

    <header class="main-header">
        <div class="ui container">
            <h1>To-Do List App</h1>
        </div>
    </header>
    <form method="post" id="add-task" class="ui left icon input fluid">
        <div class="container">
            <div class="row pb-2">
                <div class="col">
                    <input asp-for="Item" id="add-task-input"
                           class="form-control"
                           placeholder="Write your task here..." />
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-6 col-md-3">
                    <div>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div>
                        <a asp-controller="Todo" asp-action="Index" class="btn btn-primary">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
