


@model List<Todo>

<h1>To-Do List App</h1>
<div class="col-6 text-end">
    <a asp-controller="Todo" asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-lg"></i>Add Task</a>
</div>



<table class="table">
    @foreach (var obj in Model)
    {
        <tr>
            <td>@obj.Item</td>
            <td><a asp-controller="Todo" asp-action="Edit" asp-route-id="@obj.Id">Edit</a></td>
            <td><a asp-controller="Todo" asp-action="Delete" asp-route-id="@obj.Id">Done</a></td>
        </tr>
    }
</table>






