@model List<Todo>

<h1>ToDo List</h1>
@*@foreach (var obj in Model)
    {
          <div>
            <ul id="tasks-list" class="ui segments">@obj.Item</ul>
            <a asp-controller="Todo" asp-action="Delete" asp-route-id="@obj.Id">Done</a>
          </div>
    }*@

<table class="table">
    @foreach (var obj in Model)
    {
        <tr>
            <td>@obj.Item</td>
            <td><a asp-controller="Todo" asp-action="Delete" asp-route-id="@obj.Id">Done</a></td>
        </tr>
    }
</table>
<div class="col-6">
    <a asp-controller="Todo" asp-action="Index" class="btn btn-primary">Back</a>
</div>